
<div id="layoutSidenav_nav">

    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <a class="nav-link" href="/AdminHome/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Bảng điều khiển
                </a>
                <a class="nav-link" href="/AdminPost/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lí bài viết
                </a>
                <a class="nav-link" href="/AdminClient/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lí người dùng
                </a>
                <a class="nav-link" href="/AdminSource/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lí khóa học
                </a>
                <a class="nav-link" href="/AdminComment/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lí bình luận
                </a>
            </div>
        </div>

    </nav>
</div>

