
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="bg-grey pb-30">
    @{ var post = ViewBag.Detail;}
    <div class="container single-content">
        <div class="entry-header entry-header-style-1 mb-50 pt-50">
            <h1 class="entry-title mb-50 font-weight-900">
                @post.title
            </h1>
            <figure class="image mb-30 m-auto text-center border-radius-10">
                <img class="border-radius-10" src="~/Content/images/@post.image" alt="post-title">
            </figure>
            <div class="row">
                <div class="col-md-6">
                    <div class="entry-meta align-items-center meta-2 font-small color-muted">
                        <p class="mb-5">
                            <a class="author-avatar" href="#"><img class="img-circle" src="/Content/assets/imgs/authors/author-3.jpg" alt=""></a>
                            By <a href="/user/post/@post.User.userId/1"><span class="author-name font-weight-bold">@post.User.fullName</span></a>
                        </p>
                        <span class="mr-10"> @post.createdAt</span>

                    </div>
                </div>
                <div class="col-md-6 text-right d-none d-md-inline">
                    <ul class="header-social-network d-inline-block list-inline mr-15">
                        <li class="list-inline-item text-muted"><span>Share this: </span></li>
                        <li class="list-inline-item"><a class="social-icon fb text-xs-center" target="_blank" href="#"><i class="elegant-icon social_facebook"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon tw text-xs-center" target="_blank" href="#"><i class="elegant-icon social_twitter "></i></a></li>
                        <li class="list-inline-item"><a class="social-icon pt text-xs-center" target="_blank" href="#"><i class="elegant-icon social_pinterest "></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end single header-->
        <!--figure-->
        <article class="entry-wraper mb-50">

            @Html.Raw(post.description)

            <!--related posts-->

        </article>
    </div>
    <!--container-->
</main>


