<footer class="pt-50 pb-20 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="sidebar-widget wow fadeInUp animated mb-30">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Forum</h5>
                    </div>
                    <div class="textwidget">
                        <p>
                            Nơi có thể thảo luận, trao đổi thông tin, chia sẻ hiểu biết, kinh nghiệm cuộc sống trong nhiều lĩnh vực

                        </p>
                        @*<p>
                                <strong class="color-black">Address</strong><br>
                                123 Main Street<br>
                                New York, NY 10001
                            </p>*@
                        <p>
                            <strong class="color-black">Follow social</strong><br>
                            <ul class="header-social-network d-inline-block list-inline color-white mb-20">
                                <li class="list-inline-item"><a class="fb" href="#" target="_blank" title="Facebook"><i class="elegant-icon social_facebook"></i></a></li>
                                <li class="list-inline-item"><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li class="list-inline-item"><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">

                <div class="sidebar-widget widget_categories wow fadeInUp animated mb-30" data-wow-delay="0.1s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30"></h5>
                    </div>
                    <ul class="font-small">
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="sidebar-widget widget_categories wow fadeInUp animated mb-30" data-wow-delay="0.1s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30"></h5>
                    </div>
                    <ul class="font-small">
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="sidebar-widget widget_categories wow fadeInUp animated mb-30" data-wow-delay="0.1s">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Chủ đề</h5>
                    </div>
                    <ul class="font-small">

                        <li class="cat-item cat-item-2"><a href="#">alo</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copy-right pt-30 mt-20 wow fadeInUp animated">
            <p class="float-md-left font-small text-muted">© 2020, Forum - Diễn đàn trao đổi, thảo luận </p>
            <p class="float-md-right font-small text-muted">
                Design by <a href="/trang-chu" target="_blank">N2F Technology</a> | All rights reserved
            </p>
        </div>
    </div>
</footer>

